<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="../statics/css/bootstrap.min.css">
<link rel="stylesheet" href="../statics/css/chapters.css">


<title>Chapter 1</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="../statics/media/img/Logo.jpeg" alt="ARES Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div id="nitems" class="mx-auto container">
        <div id="nv1" class=" nav_button col" onclick="location.href='../index.html';">Main menu</div>
        <div id="nv3" class=" nav_button col" onclick="location.href='./chapters.html';">Chapters</div>
        <div id="nv4" class=" nav_button col" onclick="location.href='./Resources.html';">Resources</div>
    </div>
  </nav>

  <div id="content_box" class="container">
    <div class="row">
        <div id="right-box " class="col box mx-auto text-center">
            <h1 class="boxtit">Chapter 2. Explanation</h1>
            <br>
            <p style="color:white">
              Radiation is a mutagen, known to generate changes in gene expression and damage to the DNA of cells, astronauts are largely in contact with the ionizing radiation spectrum, composed of galactic cosmic rays (GCR) and solar cosmic radiation (SCR), this makes the risk of modifying their genes significantly high, one of the changes that have been found is in those that are responsible for making the cells sensitive to insulin, causing this quality to go to extremes, as well as the expression of genes whose function is to promote the production of blood cells. However, one of the best known risks is the appearance of cancer cells.
              To mitigate this danger, spacecraft will have protective shielding, dosimetry, and important alerts. Research is also being carried out in the field of medical countermeasures, such as pharmaceuticals, to help defend against radiation.
                 </p>
        </div>
    </div>   
  </div>

  <script src="../lib/p5.min.js"></script>

</body>

</html>