<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="../statics/css/bootstrap.min.css">
<link rel="stylesheet" href="../statics/css/chapters.css">


<title>Chapter 8</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="../statics/media/img/Logo.jpeg" alt="ARES Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="nitems" class="mx-auto container">
        <div id="nv1" class=" nav_button col" onclick="location.href='../index.html';">Main menu</div>
        <div id="nv3" class=" nav_button col" onclick="location.href='./chapters.html';">Chapters</div>
        <div id="nv4" class=" nav_button col" onclick="location.href='./Resources.html';">Resources</div>
    </div>
  </nav>

  <div id="content_box" class="container">
    <div class="row">
        <div id="right-box " class="col box mx-auto text-center">
            <h1 class="boxtit">Chapter 8. Explanation</h1>
            <br>
            <p style="color:white">
              <strong>Bones:</strong>
              <br><br>
              During the stay in outer space, bones lose calcium and phosphates, which causes approximately 1% to be lost each month. In the microgravity environment present in space, astronauts are no longer statically charged by gravity. Because bone remodeling depends on the level of stress within the bone, Other factors that contribute to bone loss in space are low levels of illumination, which result in a decrease in vitamin D3, as well as an increase in the levels of carbon dioxide in the environment

            </p>
        </div>
    </div>
  </div>

  <script src="../lib/p5.min.js"></script>

</body>

</html>
