<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="../statics/css/bootstrap.min.css">
<link rel="stylesheet" href="../statics/css/chapters.css">


<title>Chapter 7</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="../statics/media/img/Logo.jpeg" alt="ARES Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="nitems" class="mx-auto container">
        <div id="nv1" class=" nav_button col" onclick="location.href='../index.html';">Main menu</div>
        <div id="nv3" class=" nav_button col" onclick="location.href='./chapters.html';">Chapters</div>
        <div id="nv4" class=" nav_button col" onclick="location.href='./Resources.html';">Resources</div>
    </div>
  </nav>

  <div id="content_box" class="container">
    <div class="row">
        <div id="right-box " class="col box mx-auto text-center">
            <h1 class="boxtit">Chapter 7. Explanation</h1>
            <br>
            <p style="color:white">
              Behavioral issues among groups of people crammed in a small space over a long period of time, no matter how well trained they are, are inevitable. Given the extended duration of future missions and the isolated, confined and extreme environments, there is a possibility that  adverse cognitive or behavioral conditions will occur affecting crew health and performance.
              <br><br>
              Currently, potential stressors affiliated with missions to the ISS include extended periods of high workload and/or schedule shifting, physiological adaptation including fluid shifts caused by weightlessness and possibly, exposure to other environmental factors such as elevated carbon dioxide. While still physically isolated from home, the presence of a robust ground behavioral health and performance support team who offer services such as bi-weekly private psychological conferences and regular delivery of novel goods and surprises from home in crew care packages. Near-constant real-time communication with Earth, new crewmembers rotating periodically throughout missions, and relatively low levels of radiation exposure, —it is expected that behavioral challenges experienced today do not represent those that future crews will face during exploration missions
            </p>
        </div>
    </div>
  </div>

  <script src="../lib/p5.min.js"></script>

</body>

</html>
