<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="wiewport" content="width-device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>carousel</title>
  

  <link rel="stylesheet" href="../statics/css/carousel.css">
  <link rel="stylesheet" href="../statics/css/chapters.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

  <br>

  <div class="container">
    <div id="rcorners3"class="row mx-auto">
        <h1 class="center-align"> Please Choose your suit! </h1>
    </div>
     <div class="row">
            <div class="carousel center-align">
              <div class="carousel-item" id="naranja">
              <img src="../statics/media/img/naranja.png" alt="">
              </div>
              <div class="carousel-item" id="azul">
              <img src="../statics/media/img/azul.png" alt="">
              </div>
              <div class="carousel-item" id="blanco">
              <img src="../statics/media/img/blanco.png" alt="">
              </div>
            </div>
     </div>
     <div class="row center-align gobcontainer">
        <div class="gob mx-auto"  onclick="selectSuit();">Select</div>   
     </div>

  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../dynamics/js/carrousel.js"></script>
  <!--<script src="../dynamics/js/game.js"></script>  href="../statics/media/img/logoarcade.png"-->
</body>


</html>
