<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="../statics/css/bootstrap.min.css">
<link rel="stylesheet" href="../statics/css/chapters.css">


<title>Resources</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="../statics/media/img/Logo.jpeg" alt="ARES Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div id="nitems" class="mx-auto container">
        <div id="nv1" class=" nav_button col" onclick="location.href='../index.html';">Main menu</div>
        <div id="nv3" class=" nav_button col" onclick="location.href='./chapters.html';">Chapters</div>
        <div id="nv4" class=" nav_button col" onclick="location.href='./Resources.html';">Resources</div>
    </div>
  </nav>

  <div id="content_box" class="container">
    <div class="row">
        <div id="right-box " class="col box mx-auto text-center" style="color:white">
            <h1 class="boxtit">Resources</h1>
<h2>Gravity chapter:</h2>
<ul>
    <li>
        Blottner, D. (2017). Global gene expression analysis highlights microgravity sensitive key genes in longissimus dorsi and tongue of 30 days space-flown mice. Genelab-data.ndc.nasa.gov. Retrieved 3 October 2021, from https://genelab-data.ndc.nasa.gov/genelab/accession/GLDS-135/.

    </li>
    <li>
        John E. Hall & compañía (2016). Guyton y Hall Tratado de Fisiología Médica. Elsevier, 13 ed,  España. Retrieved 3 October 2021.

    </li>
</ul>
<h2>Radiation chapter:</h2>
<ul>
    <li>
        M. Davis, C. (2019). Space Radiation-Induced Cognitive Deficits Following Head-Only, Whole Body, or BodyOnly Exposures. Three.jsc.nasa.gov. Retrieved 3 October 2021, from https://three.jsc.nasa.gov/articles/Cog_Defects_Davis-Rabin.pdf.

    </li>
<li>
    M Galazka, J. (2019). Transcriptomic analysis of spleens from mice subjected to chronic low-dose radiation, hindlimb unloading or a combination of both. Genelab-data.ndc.nasa.gov. Retrieved 3 October 2021, from https://genelab-data.ndc.nasa.gov/genelab/accession/GLDS-211/.

</li>
</ul>

<h2>Hostile and closed environments chapter:</h2>
<ul>
    <li>
        Garrett-Bakelman, F. (2019). The NASA Twins Study: A multidimensional analysis of a year-long human spaceflight. Research Gate. Retrieved 3 October 2021, from https://www.researchgate.net/publication/332379687_The_NASA_Twins_Study_A_multidimensional_analysis_of_a_year-long_human_spaceflight.

    </li>
</ul>

<h2>Distance from earth chapter:</h2>
<ul>
    <li>
        Whiting, M. (2021). 5 Hazards of Human Spaceflight. NASA. Retrieved 3 October 2021, from https://www.nasa.gov/hrp/5-hazards-of-human-spaceflight.

    </li>
</ul>

<h2>Injury & illness chapter:</h2>
<ul>
    <li>
        
V. Rivera, M. (2020). Medicina humana espacial: performance fisiológico y contramedidas para mejorar la salud del astronauta. Scielo Perú. Retrieved 3 October 2021, from http://www.scielo.org.pe/scielo.php?pid=S2308-05312020000200303&script=sci_arttext.

    </li>
    <li>
        Horie, K. (2019). Down-regulation of GATA1-dependent erythrocyte-related genes in the spleens of mice exposed to a space travel. Scientific reports, 9(1), 7654. Retrieved 3 October 2021, from https://doi.org/10.1038/s41598-019-44067-9

    </li>
</ul>

<h2>Garden wilt chapter:</h2>
<ul>
    <li>
        Hardie, K. (2020). “Astroagricultura”: cómo cultivar plantas en el espacio. Scienceinschool.org. Retrieved 3 October 2021, from https://www.scienceinschool.org/es/article/2020/astrofarmer-how-grow-plants-space-es/.
    </li>
    <li>
        Patel, Z.S. (2020). Red risks for a journey to the red planet: The highest priority human health risks for a mission to Mars. npj Microgravity 6, 33. Retrieved 3 October 2021, from https://doi.org/10.1038/s41526-020-00124-6

    </li>
</ul>

<h2>Isolation chapter:</h2>
<ul>
    <li>
        Patel, Z.S.(2020). Red risks for a journey to the red planet: The highest priority human health risks for a mission to Mars. npj Microgravity 6, 33 . Retrieved 3 October 2021, from https://doi.org/10.1038/s41526-020-00124-6

    </li>
</ul>

<h2>Gravity & radiation comeback chapter:</h2>
<ul>
    <li>
        Lacobas, D. (2008). Effect of microgravity on brain gene expression in mice. Genelab-data.ndc.nasa.gov. Retrieved 3 October 2021, from https://genelab-data.ndc.nasa.gov/genelab/accession/GLDS-32/.
    </li>
    <li>
        Blottner, D. (2017). Global gene expression analysis highlights microgravity sensitive key genes in longissimus dorsi and tongue of 30 days space-flown mice. genelab-data.ndc.nasa.gov. Retrieved 3 October 2021, from https://genelab-data.ndc.nasa.gov/genelab/accession/GLDS-135/.

    </li>
    <li>
        Chakraborty, N. (2020). Gene-Metabolite Network Linked to Inhibited Bioenergetics in Association With Spaceflight-Induced Loss of Male Mouse Quadriceps Muscle. ASBMR. Retrieved 3 October 2021, from https://asbmr.onlinelibrary.wiley.com/doi/10.1002/jbmr.4102.

    </li>
    <li>
        Gambara G,. (2017). Microgravity-Induced Transcriptome Adaptation in Mouse Paraspinal longissimus dorsi Muscle Highlights Insulin Resistance-Linked Genes. Retrieved 3 October 2021, from doi: 10.3389/fphys.2017.00279. 

    </li>
    <li>
        Raúl Carrillo Espera,b,Juan Alberto Díaz Ponce Medranoc ,Carlos Alberto Peña Pérezd , Oscar Iván Flores Riverae , Adriana Ortiz Trujilloe , Osvaldo Cortés Antonioe , Joel Cruz de Jesúse , Luis Miguel Méndez Saucedoe (2015). Efectos fisiológicos en un ambiente de microgravedad , Medic Graphic. Retrieved 3 October 2021, from doi: https://www.medigraphic.com/pdfs/facmed/un-2015/un153c.pdf

    </li>
</ul>
        </div>
    </div>   
  </div>

  <script src="../lib/p5.min.js"></script>

</body>

</html>