<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="../statics/css/style.css" />
        <script src="../dynamics/js/store.js" async></script>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="../statics/css/material-cards.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
      <div class="page-header">
          <h1 id="cred">Assemble your team!</h1>
      </div>



        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p id="congrat" align="right">      CONGRATS! YOUR CREW PASSED</p>
            <p align="right">
            <button id="YES" type="button">CONTINUE</button>
          </p>




          </div>
        </div>






      <div class="row active-with-click">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
                <h2>
                    <span id="tit">Renee</span>
                    <strong id="tit">
                        <i id="tit" class="fas fa-star-of-life"></i>
                        Doctor
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/Medico.png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Renee</span>
                                <strong> Superpower:</strong> Heals the sick and safeguards the health of the crew</p>
                                <div class="shop-item-details">
                                <span class="shop-item-price"></span>
                                <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                                </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
                <h2>
                    <span id="tit">Cameron</span>
                    <strong id="tit">
                        <i id="tit" class="fas fa-calculator"></i>
                        Engineer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/ingeniero.png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Cameron</span>
                                <strong> Superpower:</strong> Makes sure everything within the ship is functional</p>
                                <div class="shop-item-details">
                                <span class="shop-item-price"></span>
                                <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                                </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
                <h2>
                    <span id="tit">Milan</span>
                    <strong id="tit">
                        <i id="tit" class="fas fa-gavel"></i>
                        Lawyer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/abogada.png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Milan</span>
                                <strong> Superpower:</strong> they will get you out of the inevitable divorce that you will have after another crew member conquers you</p>
                              <div class="shop-item-details">
                                  <span class="shop-item-price">1</span>
                                  <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                              </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
              <h2 >
                  <span id="tit">Zasha</span>
                  <strong id="tit">
                      <i id="tit" class="fas fa-leaf">1</i>
                      Biologist
                  </strong>
              </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/doc.png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Zasha</span>
                                <strong> Superpower:</strong> Identifies species and qualities of the environment </p>
                              <div class="shop-item-details">
                                  <span class="shop-item-price">1</span>
                                  <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                              </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>
        </div>





        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
              <h2 >
                  <span id="tit">Ariel</span>
                  <strong id="tit">
                      <i id="tit" class="fas fa-home"></i>
                      Architect
                  </strong>
              </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/arquitecto.png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Ariel</span>
                                <strong> Superpower:</strong>  really good at building and designing</p>
                              <div class="shop-item-details">
                                  <span class="shop-item-price"></span>
                                  <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                              </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
              <h2>
                  <span id="tit">Francis</span>
                  <strong id="tit">
                      <i id="tit" class="fab fa-galactic-republic"></i>
                      Soldier
                  </strong>
              </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/Soldado.png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Francis</span>
                                <strong> Superpower:</strong>  they will always watch your back, engages in close combat when necessary</p>
                                  <div class="shop-item-details">
                                  <span class="shop-item-price"></span>
                                  <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                              </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
              <h2>
                  <span id="tit">Luca</span>
                  <strong id="tit">
                      <i id="tit" class="fas fa-music"></i>
                      Geologist
                  </strong>
              </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/geologo.png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Luca</span>
                                <strong> Superpower:</strong>  plays the piano in the shuttle and space station, collects cute rocks  </p>
                                  <div class="shop-item-details">
                                  <span class="shop-item-price"></span>
                                  <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                              </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Blue">
              <h2>
                  <span id="tit">Akira</span>
                  <strong id="tit">
                      <i id="tit" class="fas fa-fighter-jet"></i>
                      Pilot
                  </strong>
              </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/piloto .png">
                    </div>
                    <div class="mc-description">
                        <p>
                          <div class="shop-item">
                              <span class="shop-item-title">Akira</span>
                                <strong> Superpower:</strong> they can fly all kinds of aircraft              </p>
                                  <div class="shop-item-details">
                                  <span class="shop-item-price"></span>
                                  <button class="btn btn-primary shop-item-button" type="button">ADD TO TEAM</button>
                                  </div>
                          </div>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i id="tit" class="fa fa-bars"></i>
                </a>

            </article>


        </div>






<div id="demo"> <img id="sombras" src="../statics/media/img/nadie.png">     </div>



<div id="myteam">
        <section class="container content-section">
            <h2 id="titre">MY TEAM</h2>
            <div class="cart-row">
                <span id="tit" class="cart-item cart-header cart-column"></span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">5 Members Maximum </strong>
                <span class="cart-total-price"></span>
            </div>

        </section>
</div id="myteam">





        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="../dynamics/js/credits.js"></script>

    </body>
</html>
